@import 
  "settings",

// Vendor
  "vendor/slick",

// Selectively include foundation components
  "foundation/components/clearing",
  "foundation/components/dropdown",
  "foundation/components/flex-video",
  "foundation/components/grid",
  "foundation/components/top-bar",
  "foundation/components/offcanvas",
  "foundation/components/type",
  "foundation/components/visibility",
  "foundation/components/dropdown",

// Elements
  "elements/functions",
  "elements/spacing",
  "elements/loader",
  "elements/typography",

// Modules
  "modules/nav",
  "modules/blog-list",
  "modules/videoplayer",
  "modules/campaign",
  "modules/custom-styles",
  "modules/related-content",

// Pages
  "pages/bon-blog",
  "pages/bonbon",
  "pages/archive",
  "pages/single",
  "pages/single-film",
  "pages/redaktion",
  "pages/landing";

figure {
  margin: 0;
}

button {
  &:focus {
    outline: none;
  }
}

.inner-wrap-row {
  @include grid-row();
  display: block;
  background: white;
  padding: $gutter-width;
}

a.read-more {
  color: $highlight-color;
}

.flex-video {
  @include flex-video-container;
}