@import "settings";


// @import "foundation";

// Selectively include foundation components
@import
  "foundation/components/clearing",
  "foundation/components/dropdown",
  "foundation/components/flex-video",
  "foundation/components/grid",
  "foundation/components/orbit",
  "foundation/components/top-bar",
  "foundation/components/type",
  "foundation/components/visibility";

// Elements
@import 
	"elements/spacing",
  "elements/loader",
	"elements/typography";

// Modules
@import 
  "modules/nav",
  "modules/blog-list",
  "modules/videoplayer",
  "modules/campaign",
  "modules/custom-styles",
  "modules/related-content";

// Pages
@import 
  "pages/bon-blog",
  "pages/bonbon",
  "pages/single",
  "pages/single-film",
  "pages/redaktion",
	"pages/landing";

figure {
  margin: 0;
}

button {
  &:focus {
    outline: none;
  }
}

.inner-wrap {
  @include grid-row();
  display: block;
  background: white;
  padding: $gutter-width;
}

a.read-more {
  color: $highlight-color;
}