body, td, pre, p {color:#000; font-family:"Archive Pro Roman", serif; font-size:18px; margin:8px; line-height:1.25em;}
body#tinymce {
	width:720px;
	margin:0px auto;
}
p {
	margin:0;
	text-indent: 48px;
    font-family: "Archive Pro Roman", serif	
}
p em {
	font-family: "Archive Pro Italic", serif	
}
p.noindentp {
	text-indent:0;
}
p.topmarginp {
	text-indent: 0;
	margin-top: 16px;
}
p.questionp {
  font-family: "LLBrown", sans-serif;
  letter-spacing: 0.8px;
  text-indent: 0;
  margin-left: 48px; 
}
p.questionp em {
	font-family: "LLBrown Italic", sans-serif;	
}
.austinlight {
 font-family: "LLBrown", sans-serif;
}
.austinmedium {
 @include serif;
}
.marialistarubrik {
	text-transform:uppercase;
	font-family: "LLBrown", sans-serif;
	letter-spacing: 1px;
	padding-right: 10px;
}

.humanist {
 font-family: "LLBrown", sans-serif;
}
.humanist em {
	font-family: "LLBrown Italic", sans-serif;	
}

	
}
.fotocredit {
 font-family: "LLBrown", sans-serif;
 font-size:14px;
}
.fotocredit .austinmedium {
	font-size:15px;
}
figcaption {
  @include grotesque;
  font-size: 16px;
  line-height: 22px;
}
figcaption .austinmedium {
  @include grotesque;
  font-size: 16px;
  line-height: 22px;
}
.ingress {
 font-family: "LLBrown", sans-serif;
 font-size: 20px;
 line-height: 30px;
 letter-spacing: .7px;
}

.listsiffra {
text-align: center;
margin-top: -60px;
 font-family: "LLBrown", sans-serif;
font-size:124px;
text-indent: 0 !important;	
}
.largeingress {
 font-family: "LLBrown", sans-serif;
 font-size: 30px !important;
 line-height: 28px !important;
 letter-spacing: 0;
}

span.dropcap {
 float: left;
 font-size: 145px;
 margin-right: 5px;
 padding-right: 8px;
 
}

.delimiter {
	width:80px; 
	text-indent:-9999px; 
	height:6px; 
	background:black; 
	margin-top: 21px; 
	margin-bottom: 21px; 
	margin-left:48px; 
}
.pullquote::before { 
    content: "***";
}
.pullquote::after { 
    content: "***";
}


.pullquote {
 font-family: "Archive Pro Roman", serif;
 font-size: 30px !important;
 line-height: 28px !important;
 letter-spacing: 0;
}