@font-face { font-family:LLBrown; src: url(fonts/LLBrown/BrownPro-Regular.ttf) }
@font-face { font-family:LLBrown Italic; src: url(fonts/LLBrown/BrownPro-Italic.ttf); font-style: italic }
@font-face { font-family:LLBrown Bold; src: url(fonts/LLBrown/BrownPro-Bold.ttf); font-weight: bold }
@font-face { font-family:Archive Pro Roman; src: url(fonts/Archive/archive_roman_pro.ttf)}
@font-face { font-family:Archive Pro Italic; src: url(fonts/Archive/archive_roman_italic_pro.ttf); font-style: italic }
@font-face { font-family:Archive Pro Bold; src: url(fonts/Archive/archive_bold_pro.ttf); font-weight: bold }
@font-face { font-family:Archive Pro Bold Italic; src: url(fonts/Archive/archive_bold_italic_pro.ttf); font-weight: bold; font-style: italic }

body, td, pre, p {color:#000; font-family:"Archive Pro Roman", serif; font-size:18px; margin:8px; line-height:1.25em;}
body#tinymce {
	width:720px;
	margin:0px auto;
}
p {
	margin:0;
	text-indent: 48px;
    font-family: "Archive Pro Roman", serif	
}
p em {
	font-family: "Archive Pro Italic", serif	
}
p.noindentp {
	text-indent:0;
}
p.topmarginp {
	text-indent: 0;
	margin-top: 16px;
}
p.questionp {
  font-family: "LLBrown", "Value", sans-serif;
  letter-spacing: 0.8px;
  text-indent: 0;
  margin-left: 48px; 
}
p.questionp em {
	font-family: "LLBrown Italic", sans-serif;	
}
.austinlight {
 font-family: "LLBrown", sans-serif;
}
.austinmedium {
 font-family: "Archive Pro Bold", serif;
}
.marialistarubrik {
	text-transform:uppercase;
	font-family: "LLBrown", sans-serif;
	letter-spacing: 1px;
	padding-right: 10px;
}

.humanist {
 font-family: "LLBrown", sans-serif;
}
.humanist em {
	font-family: "LLBrown Italic", sans-serif;	
}
	
p.fotocredit {
 font-family: "LLBrown", sans-serif;
 font-size:14px;
}
.fotocredit .austinmedium {
 font-size: 16px;
}
.ingress {
 font-family: "LLBrown", sans-serif;
 font-size: 20px;
 line-height: 30px;
 letter-spacing: .7px;
 text-indent: 0;
}
.ingress em {
	font-family: "LLBrown Italic", sans-serif;		
}

.listsiffra {
text-align: center;
margin-top: -60px;
 font-family: "LLBrown", sans-serif;
font-size:124px;
text-indent: 0 !important;	
}
.largeingress {
 font-family: "LLBrown", sans-serif;
 font-size: 30px !important;
 line-height: 28px !important;
 letter-spacing: 0;
}

span.dropcap {
 float: left;
 font-size: 145px;
 margin-right: 5px;
 padding-right: 8px;
 
}

.delimiter {
	width:80px; 
	text-indent:-9999px; 
	height:6px; 
	background:black; 
	margin-top: 21px; 
	margin-bottom: 21px; 
	margin-left:48px; 
}
img.fullwidth {
	margin-left:-170px;
	width:960px !important;
	height:auto !important;	
}
.post-type-bon_blogs p {
text-indent:0;
margin-top:30px;
}
figure {
	max-width:100%;
}
figure img {
	max-width:100%
}
figure.size-full {
	max-width:980px;
	margin-left:-120px;
}
figure.size-full img {
	max-width:960px;
}
span.interviewname {
	font-family: "LLBrown Italic", sans-serif;	
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing:.5px;
}
.pullquote::before { 
    content: "***";
	width:80px; 
	text-indent:-9999px; 
	height:6px; 
	background:black; 
	margin-top: 21px; 
	margin-bottom: 21px; 
	margin-left:48px;    
	display:block;
}
.pullquote::after { 
    content: "***";
	width:80px; 
	text-indent:-9999px; 
	height:6px; 
	background:black; 
	margin-top: 21px; 
	margin-bottom: 21px; 
	margin-left:48px;  
	display:block;
}
.pullquote {
 font-family: "Archive Pro Roman", serif;
 font-size: 30px !important;
 line-height: 38px !important;
 letter-spacing: 0;
}
figure {
	text-align:center;
}
figcaption {
  font-family: "LLBrown", sans-serif;	
  font-size: 16px;
  line-height: 22px;
  margin:22px 0;
  text-align: center;
}
figcaption .austinmedium {
 font-family: "Archive Pro Bold", serif;
}
