
.single-main.gallery {
  margin-top:0;
  padding:0;
  article.format-gallery {
    background-color: rgb(255,255,255);
    padding:0;
    #poster {
      position: absolute;
      width: 100%;
      z-index: 99;
      header {
        h1 {
          color: white;
        }
      }
      .postermeta {
        background: none;
      }

    }
   .gallery-content {
     p {
      margin: 0 auto;
      @include grid-column(8, $collapse: true, $center: true);
      text-indent: 0;

    }

  }

    figure {
      &:first-of-type {
        @media #{$m-up} {
          background: none;
        }      
      }
      width:100%;
      margin-bottom: 64px;
      position: relative;
      background: #fff;
      opacity: 0;
      transition:opacity 400ms;
      overflow: hidden;
    }
    figure img {
      width:100%;
    }
    figure.figure-fullheight {
      @media #{$s-up} {
        height:100vh;
        background: white;
        img {
          height:100vh;
          width: auto;
          margin:0px auto;
        }
      }
    }
    figure.show {
      opacity: 1;
    }

    .container {
      position:relative;
      height: auto;
      width: 1225px;
    }

    .toplayer {
      position: absolute;
    }
    video {
      max-height:120vh;
      width:100%;
      display:block;
      margin:0px auto;
    }
    figure figcaption {
      position:relative;
      bottom: baseline(2);
      text-align:center;
      margin:0px auto;
      height:0;
      @include medium-grotesque-h;
      color:white;
      padding:1em;
      display: block;
    }
    .bounceIn figcaption  {
      @include bounceIn();
    }
  }
  .endcredits {
    @media #{$m-up} {
      padding:baseline() 20% ;
    }
    margin:64px auto;
    background: white;
    p {
      text-indent: 0;
      b {
        @include large-grotesque-p;
      }
    }
  }
}

