.single-bon_minimagazine {
  .inner-wrap-row {
    background: none;
    max-width: 1225px;
    padding: baseline() 0;
  }
}

article.bon_minimagazine {
  .page {
    height: auto;
    background: #fff;
    margin-bottom: 64px;
    position: relative; 
  }

  .container {
    height: auto;
    width: 1225px;
  }

  .toplayer {
    position: absolute;
    left: 0;
    top: 0;
  }
}
