.single-bon_minimagazine {
  .inner-wrap-row {
    background: none;
    max-width: 1225px;
    padding: baseline() 0;
  }
}

article.bon_minimagazine {
  .page {
    min-height: 600px;
    height: auto;
    margin-bottom: 64px;
    position: relative; 
    background: #fff;
    opacity: 0;
    transition:opacity 400ms;
  }

  .page.show {
    opacity: 1;
  }

  .container {
    position:relative;
    height: auto;
    width: 1225px;
  }

  .toplayer {
    position: absolute;
    left: 0;
    top: 0;
  }
}
