/* LANDING */
.landing {
  padding: baseline() 20px;

  @media #{$s-up} { padding: baseline() 0; }
}

/* POSTER */


#poster {
	position:relative;
	height: 56.25vw;
	overflow: hidden;
	margin-top:48px;
    @media #{$s-up} { 
		margin:0;
    }
	.slick-dots {
	    position:absolute;
	    bottom: 8px;
	}

	.posterimage img {
		width:100%;
	}
   .postermeta {
    /* let it fill the whole container */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color:white !important;
    background:rgba(0, 0, 0, 0.1);
  	a {color:white}
		.centered {
				position: absolute;
				right:0;
				left:0;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				color:#fff;
   		}
   		.section {
	   		@include grotesque;
	   		text-transform: uppercase;
	   		font-size:1rem;
	   		margin-bottom:baseline(0.5);
        text-align: center;
        width:100%;
	   		@media #{$s-up} { 
   		   		font-size:2vw;	
   		   		margin-bottom:0;   		   		
		   	}
	   		color:white;
	   		a {color:white}
   		}
   		.title {
	   		@include archive-roman;
	   		font-size:1.8rem;
	   		line-height: baseline();
	   		margin-bottom:baseline(0.5);
	   		width:70%;
	   		margin:0px auto;
	   		@media #{$s-up} { 
		   		font-size:7.5vw;
		   		line-height:6.5vw;
		   		margin-bottom:1.5vw;
		   	}
	   		color: fff;
	   		a {color:white}
   		}
   		p {
	   		display:none;
	   		@include grotesque;
	   		font-size:1rem;
	   		width:70%;
	   		margin-bottom:baseline(0.5);	   		
	   		@media #{$s-up} { 
		   		display: block;
		   		font-size:2vw;
		   		width: 70vw;
		   		line-height:2.5vw;
		   		margin-bottom:1vw;
		   	}
	   		margin:0 auto;
   		}
   		.author { 	
	   		font-size:.9rem; 
	   		line-height: 1rem;
	   		@media #{$s-up} { 
		   		display: block;
		   		font-size:1.5vw;
		   		width: 70vw;
		   		line-height:2vw;
		   		margin:0 auto;
		   	}
	   	}
   }
   .postermeta:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
   }
   .featuredvideo {
	   width:100%;
	   height:auto;
   }	
}
#poster.black {
  .postermeta { 
    color:black !important;  
    a { color:black !important; }
    p { color:black !important; }
    header h1 { color:black !important;}
  }
}
#cover {

  .post {
    margin-bottom: baseline(1.5);
    header {
      padding: 0 0.5em;
      text-align: center;

      .section {
        display: block;
        @media #{$s-up} { 
          display: none;
        }
      }

      .author {
        @media #{$s-up} { 
          line-height: baseline(1.5);
          margin-bottom: baseline(0.5);
        }
      }
      .front-page-template-3 {
	      .author {
	        @media #{$s-up} { 
	          line-height: baseline(1);
	          margin-bottom: baseline(0.5);	      
			}
	      }
      }
    }
    .main {
      @include grid-row();
    }

    & + .post {
      padding-top: baseline(1.5);
      border-top: 1px solid;
    }
  }

  .title {
    @include small-medium-archive-h;
    @media #{$s-up} { 
      @include medium-archive-h;
    }
  }

  .entry-excerpt p{
    @include medium-grotesque-p;
    @media #{$s-up} { 
	    @include large-grotesque-p;
    }
  }

  .entry-meta {
    @media #{$s-up} { 
      @include grid-column(2); 
    }

    .date {
      text-align: center;
      margin-bottom: baseline(0.5);
      @media #{$s-up} { 
        text-align: left;
        margin-bottom: 0;
      }
    }

    .social-media {
      border-bottom: none;
      display: none;
      @media #{$s-up} { 
        display: block;
      }
    }

    div {
      @media #{$s-up} { 
        border-bottom: 1px solid;
        padding: baseline(0.5) 0;
      }
    }

    p {
      margin: 0;
      line-height: baseline();
    }

    .section {
      padding-top: 0;
      display: none;
      @media #{$s-up} { 
        display: block;
      }
    }
  }

  .thumbnail {
    text-align: center;
  }

  .embed_iframe {
    // @media #{$s-up} { height: 310px; }
  }

  //1 : Image left, text right.
  .front-page-template-1 {
    @include grid-column(12, $collapse: true);

    @media #{$s-up} {
      .thumbnail {
        @include grid-column(6);
      }
      .entry-excerpt { 
        @include grid-column(4);
      }
    }
  }

  // 2 : Text left, image right.
  .front-page-template-2 {
    @include grid-column(12, $collapse: true);
    @media #{$s-up} {

      .thumbnail {
        @include grid-column(6, $push: 4);
      }
      .entry-excerpt { 
        @include grid-column(4, $pull: 6);
      }
    }
  }

  // 3 : Small image, small text below (x2).  
  $box-shadow-gap: 17px;
  .front-page-template-3 {
    @include grid-column(12, $collapse: true);
    @media #{$s-up} {
      @include grid-column(6, $collapse: true);
      box-shadow: ($box-shadow-gap + 1) $box-shadow-gap 0px (-$box-shadow-gap) black;

      .thumbnail {
        @include grid-column(8);
        margin-bottom: baseline(0.5);
      }
      .entry-meta {
        @include grid-column(4); 
      }
    }
    
    .title {
      @include small-medium-archive-h;
    }
    
    .entry-excerpt { 
      @media #{$s-up} {
        @include grid-column(12);
      }
      @media #{$m-up} {
        @include grid-column(8, $offset: 4);
      }
    }


    div.body {
      @include sans-serif-small-text; 
    }
    .author {
    @media #{$s-up} { 
      line-height: baseline(1) !important;
      margin-top: baseline(.25);
     }
    }
    & + .front-page-template-3 {
      margin-right: 0;
      padding-left: 0;

      @media #{$s-up} {
        box-shadow: ($box-shadow-gap +1 * -1) $box-shadow-gap 0px (-$box-shadow-gap) black;
        margin-left: 1px;
        margin-right: -1px;

        .thumbnail {
          @include grid-column(8, $pull: 4);
        }
        .entry-meta {
          @include grid-column(4, $push: 8); 
        }
      }
      .entry-excerpt { 
        @media #{$m-up} {
          @include grid-column(8, $offset: 0);
        }
      }

      & + .item:before {
        @include divider;
        height: 0;
        margin-bottom: baseline();      
      }
    }
  }

  // 4 : Big image, text below.
  .front-page-template-4 {
    @include grid-column(12, $collapse: true);
    @media #{$s-up} {
      .thumbnail {
        @include grid-column(10);
        margin-bottom: baseline(0.5);

      }
      .entry-excerpt { 
        @include grid-column(10, $offset: 2);
      }
    }
  }

  // 5 : Video.  
  .front-page-template-5.film {
    @include grid-column(12, $collapse: true);
    @media #{$s-up} {
      .thumbnail {
        @include grid-column(10);
      }
      .entry-excerpt { 
        @include grid-column(10, $offset: 2);
      }
    }
  }

  // Divider after template 3
  .front-page-template-3 + .front-page-template-3 + .item {
    &:before {
      @include divider;
      height: 0;
      margin-bottom: baseline();
    }
  }

  // Ads
  .category-ad {
    .entry-excerpt { 
      @include grid-column(12);
    }
  }
}

.home {
  .blog-list {
    border-top: 1px solid;
    padding-top: baseline();
  }
}
.fullrow-bg {
			background: -moz-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.3) 100%); /* IE10+ */
			background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.3) 100%); /* W3C */
}
.cover-blogs {
	display:none;
    @media #{$s-up} {

	h1.blogs-top-h {
		@include large-archive-h;
		padding: baseline();
	}
	@include grid-row;
	display:block;
    background:#ddd;
    padding-bottom:10px;
    .bon-blogs-widget {
	    @include grid-column(4);
	  	overflow: hidden;
	  	position:relative;
	  	height:210px;
	  	margin-top:10px;
	  	.bon-blog-thumbnail {
		  	background-position: center center;
		  	background-size: cover;
		  	width:100%;
		  	height:100%;
	  	}
	  	.bon-blog-meta {
		  	position: absolute;
		  	top:0;
		  	left:10px;
		  	bottom:0px;
		  	right:10px;
		  	color:white;
			background: -moz-linear-gradient(top, rgba(0,0,20,0.15) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,20,0.15)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(0,0,20,0.15) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(0,0,0,20.15) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(0,0,0,20.15) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
			background: linear-gradient(to bottom, rgba(0,0,20,0.15) 0%,rgba(0,0,0,0) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
		  	a { color:white }
		  	text-align: center;
		  	-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
	
			.centered {
				position: absolute;
				right:0;
				left:0;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);

				color:#fff;
	   		}
	   		.bon-blog-title {
		   		@include small-grotesque-p;
		   		text-transform: uppercase;
		   		letter-spacing: .1em;
		   		color:white;
	   		}
	   		.bon-blog-post-title {
		   		@include small-archive-h;
		   		color:white;
	   		}
	   		.post-date {
		   		@include small-grotesque-p;
		   		text-transform: uppercase;
		   		letter-spacing: .1em;
	   		}
	  	}	
	}
  }
}