.single-bon_se_film {
  .single-main {
    > .hentry.bon_se_film {
      header {
        text-align: center;
      }
      .entry-pre-title {
        @include small-grotesque-h;
      }
      .entry-title {
        @include medium-archive-h;
        line-height: baseline(2);
      }
    }
  }
  .aside-title {
    @include small-archive-h;
    .title-label {
      font-size: 0.8em;
    }
  }
}
