.single-main {
  > .post {
    margin: 0 auto;
    @include grid-column(12, $collapse: true);
    margin-bottom: baseline(2);

    @media #{$s-up} {
      padding-top: baseline();
    }
    
    header {
      @include grid-row();
      margin-bottom: baseline();
      padding-bottom: baseline();
      border-bottom: 1px solid;
    }
    
    .section {
      @include medium-grotesque-h;
      text-transform: uppercase;
	  text-align: center;
      @media #{$s-up} {
        text-align: right;
        @include large-grotesque-h;
        @include grid-column(2);
      }

      &:after {
      @media #{$s-up} {
        content: "";
        line-height: 4.5rem;
        }
      }
    }
    
    .entry-title {
      @include medium-archive-h;
	  text-align:center;
      @media #{$s-up} {
        @include grid-column(8);
        @include large-archive-h;
      }
    }
    
    .author-and-date {
      margin-top: baseline(0.5);
      @include grid-column(12);
      text-align: center;
      .author, 
      .date {
        @include small-archive-h;
        text-indent: 0;
      }
    }

    .entry-social {
      display: none;
      position: absolute;

      @media #{$m-up} {
        display: block;
        @include grid-column(1, $collapse: true);
        padding-right: 2em;
      }
    }

    .entry-footer {
      margin-top: baseline(2);
      @include grid-column(12);

      p {
        @include medium-archive-p;
      }
    }

    p {
        @media #{$s-up} {  
          @include large-archive-p;
  	  }
    }
    
    p + p {
      text-indent: $indent;
    }
    h2 {
      @include medium-grotesque-h;
      text-transform: uppercase;
    }


    .faktaruta {
      background: #ade5ff;
      margin:$baseline;
      padding:$baseline;
      @media #{$s-up} {  
          @include grid-column(4);
      }
      p {
        font-size: 16px;
        text-indent: 0;
      }
      p.questionp {
        padding-left: 0;
      }
      h2 {
        margin-bottom: $baseline;
      }

    }

    iframe {
      max-width: 100% !important;
  
    }
  }

  .type-post .entry-content {
    @include grid-column(12);
  }
}

.entry-content,
.entry-footer {
  // Limit text width to THE MEASURE
  h1, h2, h3, h4, h5, h6, p, ul, hr {
    max-width: rem-calc(680);
    margin: 0 auto;
  }
  a {
      color: #00ADFF;
    }

}

figure {
  text-align: center;
  margin: baseline() 0;
  @media #{$m-up} {
    text-align: center;

    img {
      max-width: 100%; //$row-width;
    }
  }

  figcaption {
    font-size: 16px;
    line-height: 22px;
    @include grotesque;
    margin: baseline() 0;
  }
}

.single-main > .post,
.bon_blogs > .entry-content {
  img.fullwidth {
    @media #{$m-up} {
      width: ($row-width - (2*$column-gutter));
      max-width: $row-width;
      margin-left: -($row-width/6);
    }
  }
}
.single-main div.slick-orbit {
  margin-top: baseline();
  margin-bottom: baseline();
  border-top:1px solid black;
  border-bottom:1px solid black;
  .slick-slide {
  }
  figure {
    max-width: 100%;
    img {
        max-height:400px;
        max-width:100%; 
        margin:0px auto; 
        @media #{$m-up} {
          max-height:600px;
        } 
    }
  }
}
.entry-content ul.slick-dots {
	max-width:100%;
  bottom:-10px;
  clear:both;
  li { 
    height:20px;
    margin:0
  }
  li button:before {
    width:19px;
    height:19px;
  }
}


