.blog-list {
  .hentry {
    @include grid-column();
    padding-bottom: baseline(1);

    @media #{$s-up} {
      @include grid-column(6);  
    }
    @media #{$m-up} {
      @include grid-column(4);  
    }

    & + .post {
      padding-top: baseline(1.5);
      border-top: 1px solid;
      @media #{$s-up} { 
        padding-top:0;
        border-top: none;
      }
    }

    header {
      padding: 0 0.5em;
      text-align: center;

      .author {
        @media #{$s-up} { 
          margin-top: baseline(0.25);
        }
      }
    }
    .main {
      @include grid-row();
    }
  }

  .thumbnail {
    margin-top: baseline(0.5);
    margin-bottom: baseline(0.5);
    text-align: center;
  }

  .title {
    @include small-medium-archive-h;
  }

  .entry-content p{
    @include large-archive-p;
  }

}
.bon-blog-list {
  .entry-content p{
    @include large-archive-p;
    margin-top: $baseline;
  }
}
.fullwidth-row {
	max-width:100%;
	padding:0;
	margin:0;
}