// CAMPAIGN

.campaign-promo-container {
  display: none;

  // min-width: 1220px;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  z-index: 9999;

  & > * {
    -webkit-transform: translateZ(0px);
  }

  .campaign-promo-wrap {
    position: static;
    @include grid-column(12);
    height: 100%;
    margin: 0 auto;
    background: rgba(255,255,255,0.95);
    min-height: 100vh;
    text-align: center;

    div {
      margin: 0 auto;
    }
  }

  .btn-skip {
    width: 100%;
    background: none ;
    text-align: center;
    color: black;
    border: none;
    padding-top:14px;
    padding-bottom:14px;
    cursor: pointer;
    text-transform: none;
    min-height: baseline(2);
    p {
    	text-indent: 0;
	    margin-left: auto;
	    margin-right:auto;
	    width:70%;
		@include small-grotesque-p;
		@media #{$m-up} {
		    @include medium-grotesque-p;
			width:80%;
	    }
    }
  }
  	.close-icon {
		width:40px;
		height:40px;
		position: absolute;
		top:4px;
		left:4px;
	}

}

body.campaign-active { 
  overflow: hidden;

  .campaign-promo-container {
    display: block;
  }
}

.top-banner {
  margin: -1.25rem 0 1.25rem -1.25rem;
}

.article-insert {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: baseline() 0;
  margin: baseline() 0;
  text-align: center;
}
