/*
 *
 * Bon Logo
 * 
 */

.site-name {
 line-height: baseline(2);
 text-align: center;

 .logo-text {
  display: none;
 }
} 

.logo .icon {
  stroke: #222;
  width: 300px;
  height: 100px;
  stroke-width: 3;
}




/* 
 *
 * Sticky Nav
 *
 */

.title-area {
  max-width: $row-width - 2.5rem;
  .name {
    text-align: center;
    padding-top: 10px;
  }

  .logo {
    body.home & {
      margin-top: -50px;
      transition: margin 100ms linear;
    }

    body.home .show-logo & {
      margin-top: 0;
    }

    svg {
       width: 100px;
       height: 40px;
       margin-top: -5px;
       stroke-width: 3;
     }
  }
}

.top-bar {
  max-width: $row-width - 2.5rem;
  margin: 0 auto;
  max-height: 3rem;
  transition: max-height 300ms linear;

  &.expanded {
    max-height: 999px;
  }

  .name h1 a {
    width: auto;
  }

  // Menu toggle button
  .toggle-topbar.menu-icon {
    right: auto;
    left: 0;
    padding-left: $gutter-width;

    a {
      border: 1px solid;
      border-radius: 100px;
      width: 35px;
      height: 35px;
      text-indent: -999px;
      span:after {
        right: 8px;
      }
    }
  }

  // SOCIAL
  .social-item {
    float: left;
    padding-top: 7px;
    padding-left: 0.5em;

    .icon {
      width: 35px;
      height: 35px;
    }
    
    a {
      float: left;
      width: 35px;
      height: 35px;
    }
  }

  // Limit menu width
  .top-bar-section{
    li {
      padding: baseline(0.5);
      padding-left: 1.25em;

      a {
        display: inline;
        padding: 0;
      }
    }
    .has-dropdown {
      > a {
        &:after {
          content: "»";
          margin: 0;
          position: static;
          padding-left: 0.5em;
        }
      }
    }
  } 

  // Social in top bar (for large screens)
  .title-area {
    .social {
      position: absolute;
      right: 10px;
    }
    .social-item {
      float: right;
    }
  }
}

/*
 *
 * Search
 * 
 */

form[role=search] {
  input[type=text] {
    border: none;
    line-height: baseline() ;
    border-radius: 0;
    padding: 2px 5px 1px;
    margin-top: 4px;
    width: 250px;
    background: $bg-color;
    border-bottom: 1px solid #000; 
    &:focus {
      outline: none;
    }
  } 
  button[type=submit] {
    display: inline;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    overflow: hidden;
    background: $bg-color;
  } 
}


// Collapsible search for top bar

.title-area {
  form[role=search] {
    float: right;
    width: 250px;

    label {
      float: right;
      margin-top: 2px;
    }

    .search-box {
      float: right;
    }

    input[type=text] {
      width: 0px;
      transition: width 200ms linear;
      border: none;

      &:focus {
        width: 150px;
        border-bottom: 1px solid #000; 

        & + button[type=submit] {
          display: inline;
        }
      }
    }    
  }
}

// Top bar search in menu
.nav-menu {
  form[role=search]{
    margin-bottom: baseline();
    label {
      display: none;
    }
  }
}


/* 
 *
 * Static Nav (for home page)
 *
 */

 %nav-with-dropdown {
   > li.has-dropdown:hover {
     background: white;

     li {
       display: block;
     }

     .dropdown {
       display: block;
     }
   }
 }

 %top-level-item {
   list-style: none;
   margin: 0;
   display: inline;
   position: relative;
   padding: baseline(0.25) 0;
 }

 %top-level-item-title { 
   @extend %small-grotesque-h;
   letter-spacing: 0.2em;
   line-height: $baseline;
   font-size: 15px;
   padding: baseline(0.25) $indent/6;

   cursor: pointer;
   
   display: inline;
 }

 %dropdown {
   width: 250px;

   position: absolute;
   left: 0;
   top: baseline(1.10) ;
   
   margin: 0;
   padding: baseline(0.25) $indent/4;
   background: white;
   z-index: 99;

   display:none;
 }

 %second-level-item-title {
   text-transform: none;
   letter-spacing: 0;
   text-indent: 0;
   padding: $baseline/2 0;

   display: block;
   text-decoration: none;
   color: #000;
   letter-spacing: 2px;
 }


// .menu-main-menu-container.home-menu {
//   display: none;
// }

// Show static menu on homepage on big screen
// @media #{$s-up} {
//   body.home {
//     .menu-main-menu-container.home-menu {
//       display: block;

//       form[role=search] {
//         display: inline;
//         width: 180px;
//         margin-top: -8px;

//         input[type=text] {
//           background: transparent;
//           max-width: 120px;
//         }
//         button[type=submit] {
//           background: transparent;
//         }
//       }
//       .search-box {
//         display: inline;
//       }
//     }
//     &:not(.f-topbar-fixed) {
//       .nav-menu-wrapper {
//         top: - baseline(2);
//         .top-bar {
//           display: none;
//         }
//       }
//     }
//   }

//   .nav-menu-wrapper {
//     transition: top 150ms linear;
//   }

//   .nav-menu {
//     @extend %nav-with-dropdown;
//     margin-left: 0;
//     margin-bottom: baseline();

//     > .menu-item {
//       @extend %top-level-item; 
//     }
//   }

//   .menu-item > a {
//     @extend %top-level-item-title; 
//   }

//   .sub-menu {
//     @extend %dropdown; 
//   }

//   .sub-menu .menu-item > a {
//     @extend %second-level-item-title;
//   }
// }



