/*
 *
 * Bon Logo
 * 
 */

.site-name {
 line-height: baseline(2);
 text-align: center;

 .logo-text {
  display: none;
 }
} 

.logo .icon {
  stroke: #222;
  width: 300px;
  height: 100px;
  stroke-width: 3;
}

/* 
 *
 * Sticky Nav
 *
 */

.tab-bar {
  
  .title-area {
    max-width: 980px;
    margin: 0 auto;
    position: relative;
  }

  li {
    list-style: none;
  }

  // Hamburger icon
  .left-small {
    border-right: none;
  }
  .menu-icon {
    border: 1px solid black;
    border-radius: 100%;
    margin: .5rem 0 0 .5rem;
  }

  // Share Buttons
  .share {
    left: auto;
    display: none;
    @media #{$s-up} { display: block; }

    .icon:hover {
      cursor: pointer;
    }
  }

  .share-btns {
    position: fixed;
    top: baseline(2);
    margin-left: -50px;
    padding: baseline(0.5);
    background: white;
    box-shadow: 0px 5px 10px 1px rgba(50, 50, 50, 0.4);

    display: none;
  }

  .share.open .share-btns {
    display: block;
  }
}

.title-area {
  .name {
    padding-top: 10px;
    left: 6rem;
    right: 9rem;
  }

  .logo {
    body.home & {
      margin-top: -50px;
      transition: margin 100ms linear;
    }

    body.home .show-logo & {
      margin-top: 0;
    }

    svg {
       width: 100px;
       height: 40px;
       margin-top: -5px;
       stroke-width: 3;
     }
  }
}

.left-off-canvas-menu {
  position: fixed;
  transition: all 500ms ease 0s;
}

/*
 *  Icons
 */

 .icon-item {
   float: left;
   padding-top: 5px;
   padding-left: 0.5em;

   .icon {
     width: 35px;
     height: 35px;
   }
   
   a {
     float: left;
     width: 35px;
     height: 35px;
   }
 } 

/*
 *
 * Search
 * 
 */

form[role=search] {
  padding-left: $indent;
  input[type=text] {
    border: none;
    line-height: baseline();
    border-radius: 0;
    padding: 0;
    margin-top: 4px;
    // width: calc(100% - 50px);

    border-bottom: 1px solid #000; 
    &:focus {
      outline: none;
    }
  } 
  button[type=submit] {
    display: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    width: 40px;
    background: white;
  } 
}


// Collapsible search for top bar

.title-area {
  form[role=search] {
    float: left;

    label {
      float: left;
      margin-top: 2px;
    }

    .search-box {
      height: 2.5rem;
      background: $bg-color;
      z-index: 9999;
      position: relative;
      left: 0;
      width: 0;
      overflow: hidden;
      transition: width 200ms linear;
      
      &.focus {
        width: 150px;
      }
    }

    input[type=text] {
      margin-top: 5px;
      background: none;
      padding: 2px 5px 0px;
      border-bottom: 1px solid #000; 
    }    
  }
}

// Top bar search in menu
.nav-menu {
  form[role=search]{
    margin-bottom: baseline();
    label {
      display: none;
    }
  }
}


/* 
 *
 * Static Nav (for home page)
 * Vertical dropdown on hover
 *
 */

%nav-with-dropdown {
  > li.has-dropdown:hover {
    background: white;

    li {
      display: block;
    }

    .dropdown {
      display: block;
    }
  }
}

%top-level-item {
  list-style: none;
  margin: 0;
  display: inline;
  position: relative;
  padding: baseline(0.25) 0;
}

%top-level-item-title { 
  @extend %small-grotesque-h;
  letter-spacing: 0.2em;
  line-height: $baseline;
  font-size: 15px;
  padding: baseline(0.25) $indent/6;

  cursor: pointer;

  display: inline;
}

%dropdown {
  width: 250px;

  position: absolute;
  left: 0;
  top: baseline(1.10) ;

  margin: 0;
  padding: baseline(0.25) $indent/4;
  background: white;
  z-index: 99;

  display:none;
}

%second-level-item-title {
  text-transform: none;
  letter-spacing: 0;
  text-indent: 0;
  padding: $baseline/2 0;

  display: block;
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
}

/*
 *
 * Vertical menu expandable on click
 *
 */

%expandable-nav {
  
}

%expandable-nav-item {
  > a:after {
    content: "\25BA";
    font-size: 0.7em;
    float: right;
  }
  &.expanded > a:after {
    content: "\25BC";
  }
}

%expandable-nav-sub-menu {
  display: none;
  margin: 0 0 0 rem-calc(10);
  .expanded > & {
    display: block;
  }
}

.left-off-canvas-menu {
  .offcanvas-overlap & {
    box-shadow: 5px 0px 5px 0px rgba(50, 50, 50, 0.4);
  }

  h1 {
    @extend %medium-grotesque-h;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding: $off-canvas-link-padding;
    height: 3rem;

    a {
      color: $bg-color;
    }
  }

  ul {
    list-style: none;
  }

  .social {
    margin: baseline(0.25) 0 0;
  }
}

.nav-menu {
  // @extend %expandable-nav;
}

.has-dropdown {
  @extend %expandable-nav-item;
}

.sub-menu {
  @extend %expandable-nav-sub-menu;
}

