.aside-title {
  text-align: center;
  @extend %medium-archive-h;
  margin-bottom: baseline();
  .title-label {
    @extend %archive-roman-italic;
    font-size: 0.6em;
  }
}

.aside-text {
  text-align: center;
}

.post.small-excerpt {
  margin-bottom: baseline();

  .section {
    margin-left: 58px;
  }

  .title {
    @extend %small-archive-h;
  }

  .thumbnail {
    float: left;
    margin-right: 10px;
  }

  .content {
    margin-left: 58px;
  }

  .author-and-date {
    margin: 0;
    padding: 0;
  }
}

.related-content {
  @include grid-column(12, $collapse: true);
  border-top: 1px solid;
  padding-top: baseline();


  .same-author-posts {
    @include grid-column();
    margin-bottom: baseline(2); 

    @media #{$s-up} {
      @include grid-column(8, $collapse: true);
      box-shadow: 1px 0 0 0 black;
    }

    .bio {
      margin-bottom: baseline();
      margin-top: -(baseline());
      @extend %small-grotesque-h;      
    }

    .post {
      @media #{$m-up} {
        @include grid-column(6);  
      }
      &:nth-child(2n+1) {
        clear: left;
      }
    }

    .author-and-date {
      display: none;
    }
  }

  .yarpp-related {
    section {
      @include grid-column();
      margin-bottom: baseline(2); 

      @media #{$s-up} {
        @include grid-column(4);
        border-left: 1px solid;
      }
    }
  }

  // Video gallery list
  &.video-list {
    .blog-item:nth-child(4n + 1){
      clear: left;
    }
  }
}