.aside-title {
  text-align: center;
  @extend %medium-archive-h;
  .title-label {
    @extend %archive-roman-italic;
    font-size: 0.6em;
  }
}

.post.small-excerpt {
  margin-bottom: baseline();

  .section {
    margin-left: 0;
  }

  .title {
    @extend %small-archive-h;
  }

  .thumbnail {
    float: left;
    margin-right: 10px;
  }

  .content {
    margin-left: 58px;
  }

  .author-and-date {
    margin: 0;
    padding: 0;
  }
}

.related-content {
  @include grid-column(12, $collapse: true);
  border-top: 1px solid;
  padding-top: baseline();

  section {
    width: 100%;
    margin: baseline() 0;

    & > h1 {
      margin-bottom: baseline();
    }

    .posts-list-container {
      margin-left: -10px;
      margin-right: 0;
    }
  }

  .same-author-posts {
    width: 100%;
    @media #{$s-up} {
      @include grid-column(8);
      float: left;
      box-shadow: 1px 0 0 0 black;
      padding: 0;
      margin-bottom: baseline(2); 
    }
    padding: 0;
    margin-bottom: baseline(2); 

    .bio {
      margin-bottom: baseline();
    }

    .post {
      @include grid-column(6);
      margin-bottom: baseline(2);
      &:nth-child(2n+1) {
        clear: left;
      }
    }

    .author-and-date {
      display: none;
    }
  }

  .yarpp-related {
    section {
      width: 100%;
      @media #{$s-up} {
        @include grid-column(4);
        border-left: 1px solid;
      }
      margin-bottom: baseline(2); 
    }
    .post {
      @include grid-column(12);
    }
  }

  // Video gallery list
  &.video-list {
    .blog-item:nth-child(4n + 1){
      clear: left;
    }
  }
}