/* VIDEO GALLERY */
.videoplayer {

  video, 
  #jwplayer {

    width: 100%;
    @media #{$l-up} {
      width: 940px;
      height: 530px; 
    }
  }

  .extra-buttons {
    @include grid-row;
    padding: 0;
  }

  .btn {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-size: 1em;
    @include small-archive-h;
  }

  .expandable {
    display: none;
    margin: $baseline 0;
  }

  .embed-code {
    width: 100%;
    height: 3 * $baseline;
  }

  .btn-wrapper {
    @include grid-column(4);
    margin-top: 5px;
  }

  .share-wrapper {
    @media #{$l-up} { text-align: right; }
    margin-bottom: $baseline * 2;
  }

  .counter-container {
    @include flex-video-container;
    text-align: center;
    background: black;
    color: white;
    position: relative;
    
    p {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      max-width: none;
    }

    span {
      display: block;
    }
  }

}