@mixin border-top-and-bottom {
  box-shadow: 1px -11px 0px -10px black,
              1px 11px 0px -10px black;
}

@mixin border-top {
  box-shadow: 1px -11px 0px -10px black;
}

@mixin border-bottom {
  box-shadow: 1px 11px 0px -10px black;
}

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  display: inline-block; 
}

@mixin divider {
  content: "";
  display: block;
  width: 120px;
  height: 20px;
  margin: 0 0 0 $indent;
  clear: both;
  border-bottom: 4px solid; 
}



