/* MAIN STYLES */

/*

# LARGE 
## archive header: l-a-h
## archive paragraph: l-a-p
## serif header: l-s-h
## grotesque header: l-g-h
## serif paragraph: l-s-p
## grotesque paragraph: l-g-p


# MEDIUM
## archive header: m-a-h
## archive paragraph: m-a-p
## serif header: m-s-h
## grotesque header: m-g-h
## serif paragraph: m-s-p
## grotesque paragraph: m-g-p


# SMALL
## archive header: s-a-h
## archive paragraph: s-a-p
## serif header: s-s-h
## grotesque header: s-g-h
## serif paragraph: s-s-p
## grotesque paragraph: s-g-p



Headers
- Archive mono
- Value Sans
- Value Serif

Paragraphs
- Archive roman 
- Value Sans
- Value serif

*/


// #
// #
// # Typefaces
// #  
// #

@include font-face(LLBrown, '../fonts/LLBrown/BrownPro-Regular');
@include font-face('LLBrown Italic', '../fonts/LLBrown/BrownPro-Bold', italic);
@include font-face('LLBrown Bold', '../fonts/LLBrown/BrownPro-Bold', bold);
@include font-face('Archive Pro Roman', '../fonts/Archive/archive_roman_pro');
@include font-face('Archive Pro Italic', '../fonts/Archive/archive_roman_italic_pro');
@include font-face('Archive Pro Bold', '../fonts/Archive/archive_bold_pro');
@include font-face('Archive Pro Bold Italic', '../fonts/Archive/archive_bold_italic_pro');

@mixin archive-mono { // For headings
  font-family:"Archive Pro Roman", serif; 
  text-rendering: optimizeLegibility;
}

@mixin archive-roman { // For paragraphs
  font-family:"Archive Pro Roman", serif; 
}
@mixin archive-roman-italic { 
  font-family:"Archive Pro Italic", serif; 
  font-style: italic;
}

@mixin serif {
  font-family:"LLBrown", sans-serif; 
  font-weight:500; 
  @include font-feature-settings(ss01);
}

@mixin grotesque {
  font-family:"LLBrown", sans-serif; 
  @include font-feature-settings(ss01);
}

// #
// # LARGE 
// #

// ## archive header: large-archive-header
@mixin large-archive-h {
  @include archive-roman;

  font-size: 54px; 
  font-weight: normal;
  line-height: baseline(2.5);
  letter-spacing: 0.02em;
  word-spacing: 0em;
  text-align: center;
  @include respond-to(xs) {
    font-size: 28px; 
    line-height: baseline(2);  
  }
}

// ## serif header: l-s-h
@mixin large-serif-h {
  @include serif;
}

// ## grotesque header: l-g-h
@mixin large-grotesque-h {
  @include grotesque;
  font-size: 20px;
  line-height: baseline(0.75);
  text-transform: uppercase;
  font-weight: normal;
}

// ## archive paragraph: l-a-p
@mixin large-archive-p {
  @include archive-roman;
  font-size: 20px; 
  line-height: 30px;
  @include respond-to(xs) {
    font-size: 18px; 
    line-height: baseline();
  }
}

// ## serif paragraph: l-s-p
@mixin large-serif-p {
  @include serif;
}

// ## grotesque paragraph: l-g-p
@mixin large-grotesque-p {
  @include grotesque;
  font-size: 20px;
  line-height: baseline(1.25);
  @include respond-to(xs) {
    font-size: 16px; 
    line-height: baseline();  
  }
}


// #
// # MEDIUM
// #

// ## archive header: medium-archive-header
@mixin medium-archive-h {
  @include archive-roman;
  font-size: 36px; 
  font-weight: normal;
  line-height: baseline(1.75);
}

@mixin small-medium-archive-h {
  @include archive-roman;
  font-size: 26px; 
  font-weight: normal;
  line-height: baseline(1.25);
}

// ## serif header: m-s-h
@mixin medium-serif-h {
  @include serif;
  font-size: 16px;
  line-height: baseline();
}

// ## grotesque header: m-g-h
@mixin medium-grotesque-h {
  @include grotesque;
  font-size: 16px;
  line-height: baseline();
}

// ## archive paragraph: m-a-p
@mixin medium-archive-p {
  @include archive-roman;
  font-size: 16px;
  line-height: baseline();
}

// ## serif paragraph: m-s-p
@mixin medium-serif-p {
  @include serif;
  font-size: 16px;
  line-height: baseline();
}

// ## grotesque paragraph: m-g-p
@mixin medium-grotesque-p {
  @include grotesque;
  font-size: 16px;
  line-height: baseline();
  word-spacing: -0.1em;
}

// #
// # SMALL
// #

// ## archive header: small-archive-header
@mixin small-archive-h {
  @include archive-roman;
  font-size: 20px;
  font-weight: normal;
  line-height: baseline(1.25);
  word-spacing: -0.05em;
}

// ## serif header: s-s-h
@mixin small-serif-h {
  @include serif;
}

// ## grotesque header: s-g-h
@mixin small-grotesque-h {
  @include grotesque;
  font-size: 14px;
  line-height: baseline(0.75);
  text-transform: uppercase;
  font-weight: normal;
}

// ## archive paragraph: s-a-p
@mixin small-archive-p {
  @include archive-roman;
}

// ## serif paragraph: s-s-p
@mixin small-serif-p {
  @include serif;
}

// ## grotesque paragraph: s-g-p
@mixin small-grotesque-p {
  @include grotesque;
  font-size: 12px;
  line-height: baseline(0.75);
  word-spacing: -0.1em;
}








@mixin text { 
  @include grotesque;
}

@mixin small-title { 
  @include serif;
}

@mixin title { 
  @include archive-roman;
}

@mixin title-i { 
  font-family:"Archive Pro Italic", serif; 
  font-style:italic; 
}

@mixin big-title { 
  @include large-archive-h;
}

@mixin sans-serif {
  @include grotesque;
}

@mixin reading-type {
  @include archive-roman;
}

@mixin sans-serif-heading { 
  @include large-grotesque-h;
}

@mixin sans-serif-small-heading { 
  @include small-grotesque-h;
}


@mixin sans-serif-big-text { 
  @include large-grotesque-p;
}


@mixin sans-serif-medium-text { 
  @include medium-grotesque-p;
}

@mixin sans-serif-small-text { 

  @include small-grotesque-p;
}

@mixin serif-heading-1 { 
  @include large-archive-h;
} 

@mixin serif-heading-2 { 
  @include medium-archive-h;
} 

@mixin serif-heading-3 { 
  @include small-archive-h;
} 

@mixin serif-heading-4 { 
  @include small-archive-h;
} 

@mixin reading-text {
  @include large-archive-p;

}

@mixin intro-text {
  @include large-grotesque-p;
}

@mixin title {
  font-weight: normal;
}

.title {
  @include title;
}

.article-title {
  @include large-archive-h;
}

.big-title {
  @include medium-archive-h;

  .content & {
    margin-left: $gutter-width/2;
  }
}

.medium-title {
  @include small-archive-h;
  font-size: 22px;
}

.small-title {
  @include small-archive-h;
}

.sys-title {
  @include small-grotesque-h;
}

.small-sys-title {
  @include small-grotesque-h;
  font-size: 12px;
}

.reading-text {
  @include large-archive-p;
}

.intro-text {
  @include large-grotesque-p;
}

.colophon {
  @include small-grotesque-p;
}

.text {
  @include medium-grotesque-p;
}

.teaser-text {
  @include medium-grotesque-p;
}

.small-text {
  @include small-grotesque-p;
}
